.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-content form label {
    margin: 10px;
}

.main-content form label input {
    margin-left: 16px;
    width: 200px;
}

.main-content form label select {
    margin-left: 16px;
    width: 208px;
    margin-bottom: 20px;
}

.main-content button {
    align-self: center;
}

.cards-table th {
    background-color: brown;
    border-color: red;
}

.cards-table .style1 {
    background-color: #ffdddd;
    color: black
}
  
.cards-table .style2 {
    background-color: #ffeeee;
    color: black;
}

.cards-table .blocked {
    color: red;
}

.cards-table .active {
    color: green;
}

.cards-table .td-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cards-table #ban-btn {
    scale: 1;
    background-color: orange;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100px;
    gap: 10px;
}

.cards-table #unban-btn {
    scale: 1;
    background-color: blue;
    color: white;
    margin: 0;
    display: flex;
    width: 100px;
    justify-content: center;
}

.cards-table #delete-btn {
    scale: 1;
    background-color: red;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100px;
    gap: 10px;
}