.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-content form label {
    margin: 10px;
}

.main-content form label input {
    margin-left: 16px;
    width: 200px;
}

.main-content form label select {
    margin-left: 16px;
    width: 208px;
    margin-bottom: 20px;
}

.main-content button {
    align-self: center;
}

