<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Cajero RPI</title>
</head>
<body>
    <h1 id="title">Indique el monto a retirar</h1>
    <h1 id="value">$0.00</h1>
    <script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/op_retiro.js') }}"></script>
</body>
</html>